.header {
  min-height: 78px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  // background-color: var(--light-black);
  background-color: rgba(0, 0, 0, 0.8);

  // background-color: var(--violet);
  // background-color: rgba(126, 17, 133, 0.8);

  @media only screen and (max-width: 630px) {
    & {
      min-height: 60px;
    }
  }
  .header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 480px;
      position: relative;
      @media only screen and (max-width: 700px) {
        & {
          min-width: 460px;
        }
      }
      @media only screen and (max-width: 650px) {
        & {
          // min-width: 400px;
        }
      }
      .project-item-block {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        .arrow-down {
          object-fit: cover;
          height: 9px;
          transition: all 0.5s ease;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
    .active {
      cursor: pointer;
      background-color: var(--violet);
      padding: 32px 24px;
      transition: all 0.5s ease;
      &:hover {
        background-color: var(--light-violet);
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .open-burger {
    max-width: 25px;
  }
  .close-burger {
    max-width: 25px;
  }
}
.padding-top {
  padding: 15px 0;
}
.nav-item {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  transition: all 0.5s ease;
  &:hover {
    color: var(--white);
  }
}
.page-logo {
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  cursor: pointer;
  transition: all 0.5s ease;
  @media only screen and (max-width: 700px) {
    & {
      font-size: 26px;
    }
  }
  @media only screen and (max-width: 400px) {
    & {
      font-size: 16px;
    }
  }
}
.burger-modal {
  overflow: hidden;
  background: var(--light-black);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 15px;
  .burger-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}
