.skills {
  padding: 100px 0;
  .skills-body {
    margin: 0 auto;
    max-width: 1358px;
    padding-top: 90px;
    display: flex;
    gap: 85px 66px;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
  }
}
