<div class="project-card">

  <div class="project-card-body">
    <div class="left-side">
      <div (click)="description()" class="title-block disable-text-select">
        <h4 class='bold-title'>{{project.title}}</h4>
        <img class='arrow-down' [src]="descriptionStatus?pathArrowUp:pathArrowDown" alt="arrow-down">
      </div>
      <p *ngIf="descriptionStatus" class='normal-text'>{{project.description}}</p>
      <!-- <p (click)="showDescription()" class='normal-text'>{{project.description | shortTheSentence:descriptionSize}}</p> -->
      <!-- <button class='btn light-black-bg'>More...</button> -->

      <div class="tools">
        <div *ngFor="let tool of project.tools" class="tool">
          <img [src]="pathToLogos+tool.img" [alt]="tool.name">
        </div>
      </div>
      <div class="buttons-block disable-text-select">
        <a target='_blank' class='btn violet-bg' [href]="project.url">See Live</a>
        <a target='_blank' class='btn light-black-bg' [href]="project.sourceCodeUrl">Source Code</a>
      </div>
    </div>
    <div class="right-side">
      <img [src]="pathToImages+project.img" [alt]="project.title">
    </div>
  </div>

</div>
