.project-card {
  max-width: 1360px;
  margin-bottom: 50px;
  transition: all 1s ease;

  @media only screen and (max-width: 550px) {
    & {
      margin-bottom: 40px;
    }
  }
  .project-card-body {
    display: flex;
    // align-items: stretch;
    @media only screen and (max-width: 600px) {
      & {
        flex-direction: column-reverse;
      }
    }
    .left-side {
      display: flex;
      flex-direction: column;
      gap: 15px;

      width: 100%;
      max-width: 600px;
      background-color: var(--light-black);
      padding: 40px;
      @media only screen and (max-width: 900px) {
        & {
          max-width: 400px;
          padding: 30px;
        }
      }
      @media only screen and (max-width: 700px) {
        & {
          padding: 20px;
        }
      }
      .title-block {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 15px;
        .arrow-down {
          object-fit: cover;
          height: 9px;
          transition: all 0.5s ease;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      .tools {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        .tool img {
          object-fit: contain;
          width: 30px;
          height: 35px;
          // background-color: red;
          @media only screen and (max-width: 900px) {
            & {
              width: 25px;
              height: 30px;
            }
          }
          @media only screen and (max-width: 850px) {
            & {
              width: 18px;
              height: 21px;
            }
          }
        }
      }
      .buttons-block {
        display: flex;
        gap: 5px;
      }
    }
    .right-side {
      background-color: var(--light-black);
      width: 100%;
      min-height: 100%;
      & img {
        object-fit: cover;
        // object-fit: contain;

        // object-position: left center;
        background-color: var(--light-black);
        width: 100%;
        height: 100%;
        transition: all 1s ease;

        @media only screen and (max-width: 600px) {
          & {
            height: 200px;
            max-width: 400px;
          }
        }
        @media only screen and (max-width: 450px) {
          & {
            height: 160px;
          }
        }
      }
    }
  }
}
.left-side {
  transition: all 0.5s ease;
}
.project-card:hover .left-side {
  transform: scale(1.04);
}
