.footer {
  background-color: var(--light-black);
  padding: 100px 0;
  margin-top: 150px;
  @media only screen and (max-width: 900px) {
    & {
      margin-top: 90px;
    }
  }
  @media only screen and (max-width: 610px) {
    & {
      margin-top: 60px;
      padding: 50px 0;
    }
  }
  .footer-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    @media only screen and (max-width: 610px) {
      & {
        // display: flex;
        flex-direction: column;
      }
    }
    .header {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      & img {
        height: 20px;

        @media only screen and (max-width: 610px) {
          & {
            height: 20px;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .page-logo {
        color: var(--white);
      }
    }

    .contacts {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .contacts-body {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      .contact-item {
        color: var(--gray);
      }
    }
    .nav {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .nav-body {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .nav-item a {
          cursor: pointer;
          color: var(--gray);
          &:hover {
            color: var(--white);
          }
        }
      }
    }
  }
}

.social-network-block {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 600px) {
    & {
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 500px) {
    & {
      gap: 30px;
    }
  }
  @media only screen and (max-width: 400px) {
    & {
      gap: 25px;
    }
  }
  @media only screen and (max-width: 350px) {
    & {
      gap: 20px;
    }
  }
  @media only screen and (max-width: 310px) {
    & {
      gap: 15px;
    }
  }
  @media only screen and (max-width: 270px) {
    & {
      gap: 10px;
    }
  }
  .social-network {
    width: 30px;
    height: 30px;
    display: flex;
    object-fit: cover;
    opacity: 0.5;
    transition: all 0.5s ease;
    &:hover {
      opacity: 1;
      transform: scale(1.2);
    }
    @media only screen and (max-width: 1100px) {
      & {
        width: 25px;
        height: 25px;
      }
    }
    @media only screen and (max-width: 800px) {
      & {
        width: 20px;
        height: 20px;
      }
    }
  }
}
