.main {
  background: url(../../../../assets/bg/pc-bg.png) center / cover no-repeat;
  width: 100%;
  // min-height: 600px;

  padding-top: 200px;

  .main-body {
    margin: 0 auto;
    max-width: 700px;
    // min-height: 577px;
    text-align: center;
    display: flex;
    // justify-content: center;
    align-content: space-between;
    flex-direction: column;
    gap: 50px;
    padding-top: 130px;
    @media only screen and (max-width: 650px) {
      & {
        padding-top: 90px;
        // min-height: 450px;
      }
    }
    @media only screen and (max-width: 400px) {
      & {
        padding-top: 80px;
      }
    }
    .social-network-block {
      display: flex;
      gap: 30px;
      justify-content: center;
      @media only screen and (max-width: 500px) {
        & {
          gap: 30px;
        }
      }
      @media only screen and (max-width: 400px) {
        & {
          gap: 25px;
        }
      }
      @media only screen and (max-width: 350px) {
        & {
          gap: 20px;
        }
      }
      @media only screen and (max-width: 310px) {
        & {
          gap: 15px;
        }
      }
      @media only screen and (max-width: 270px) {
        & {
          gap: 10px;
        }
      }
      .social-network {
        width: 30px;
        height: 30px;
        display: flex;
        object-fit: cover;
        opacity: 0.8;
        transition: all 0.5s ease;
        &:hover {
          opacity: 1;
          transform: scale(1.1);
        }
        @media only screen and (max-width: 600px) {
          & {
            width: 25px;
            height: 25px;
          }
        }
        @media only screen and (max-width: 500px) {
          & {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .arrow-down {
      width: 35px;
      margin: 40px auto 0;
      opacity: 0.8;
      transition: all 0.5s ease;
      &:hover {
        opacity: 1;
        transform: scale(1.5);
      }
    }
  }
}
