<header class='header' (scroll)="onScroll($event)">
  <div *ngIf="!burgerIsOpen" class="content">
    <div [ngClass]="{'padding-top': getScreenWidth<631}" class="header-body">
      <a class='page-logo' href="#Home">F.Azat</a>
      <nav *ngIf="getScreenWidth>630;else burgerIcon" class='nav'>
        <a class='nav-item' href="#Biography">Biography</a>
        <a class='nav-item' href="#TechnicalSkills">Technical Skills</a>
        <a class='nav-item' href="#Projects">Projects</a>
        <div class='active'>
          <a class='nav-item' href="#Contact">Contact</a>
        </div>
      </nav>
      <ng-template #burgerIcon>
        <img (click)='openBurger()' src="../../../../assets/icons/burger.png" alt="burgerIcon">
      </ng-template>
    </div>
  </div>

  <div *ngIf="burgerIsOpen" class="burger-modal">
    <div class="content">
      <div class="burger-header">
        <a class='page-logo' href="#Home">F.Azat</a>
        <img (click)='closeBurger()' src="../../../../assets/icons/close-burger.png" alt="burgerIcon">
      </div>
      <nav class='nav'>
        <a (click)="closeBurger()" class='nav-item' href="#Biography">Biography</a>
        <a (click)='closeBurger()' class='nav-item' href="#TechnicalSkills">Technical Skills</a>
        <a (click)='closeBurger()' class='nav-item' href="#Projects">Projects</a>
        <a (click)='closeBurger()' class='nav-item' href="#Contact">Contact</a>
      </nav>
    </div>
  </div>
</header>
