<section id='Projects' class='projects-block'>
  <div class="content">
    <div class="projects-body">
      <div class="category-block">
        <h2 class='category-title-small'>Professional Experience:</h2>
        <ngtypewriter class='category-title-big' [StringList]="['MY projects:']" [speed]='1500'>
        </ngtypewriter>
      </div>
      <div class="projects">
        <app-project-card *ngFor="let project of projectService.projects | filterBySize:cuurentProjecstAmount"
          [project]="project">
        </app-project-card>
      </div>
      <button *ngIf="cuurentProjecstAmount!==projectsAmount" (click)="viewAll()" class='btn white-bg view-btn'>View
        all</button>
    </div>
  </div>
</section>
