.skills {
  padding: 100px 0;
  .skills-body {
    margin: 0 auto;
    max-width: 1358px;
    padding-top: 90px;
    display: flex;
    gap: 85px 66px;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
    @media only screen and (max-width: 400px) {
      & {
        gap: 65px;
      }
    }
  }
}
