<section class='about'>
  <div class="category-block content">
    <h2 class='category-title-small'>biography:</h2>
    <ngtypewriter class='category-title-big' [StringList]="['About me:']" [speed]='1500'>
    </ngtypewriter>
  </div>
  <!-- <div class="content"> -->
  <div class="about-body content">
    <div class="about-text-block big-subtitle">
      <div class="avatar">
        <img src="../../../../assets/images/azat-avatar.png" alt="Azat avatar">
      </div>
      <div class="about-main-text">
        <p> My name is Azat Farmanyan. My goal is to learn everything new and exciting. More than 1 year of experience
          in front-end development with JavaScript, and over 3 years experience in graphic design.
        </p>
        <p> Understanding processes in existing code and solving problems with it.
          Ability to learn new technologies and methods in a short time and implement them.</p>
        <p> Critical thinking skills, solid work ethic with flexibility and willingness to take on new
          responsibilities, learn and work with new systems.
          Good interpersonal and communication skills.</p>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>
